.menu {
    text-align: center;
    width: 400px;
    border-radius: 5px;
    margin: auto;
    border: 5px solid white;
    padding: 20px;
}

.menuTitle {
    font-size: 1.7em;
    padding: 0 0 15px;
}

.menuItem {
    border-radius: 5px;
    border: 3px solid transparent;
    padding: 10px;
}

.menuItem.selected {
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-duration: 1.0s;
    animation-name: changecolor;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 3px solid;
}

@keyframes changecolor {
    from {
        border-color: green;
    }
  
    to {
        border-color: lightgreen;
    }
}