.App {
  text-align: center;
  width: 1000px;
  margin: auto;
}

.left {
  width: 250px;
  height: 250px; 
  float: left;
  border-radius: 0px;
  border: 0px solid white;
  border-spacing: 0; 
  margin: auto;
}

.right {
  float: right;
  vertical-align: top;
  border-radius: 0px;
  border: 0px solid white;
  border-spacing: 0;
  margin: auto;
  width: 250px;
  height: 250px;
}

.main {
  position: relative;
}
