.App {
  text-align: center;
  width: 1000px;
  margin: auto;
}

.left {
  float: left;
  border-radius: 0px;
  border: 0px solid white;
  border-spacing: 0; 
}

.right {
  float: right;
  vertical-align: top;
  border-radius: 0px;
  border: 0px solid white;
  border-spacing: 0;
  margin: auto;
}

.main {
  border: 0px solid green;
  position: relative;
}
